
body{
	margin:0;
	background-color:#EDECF4;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Raleway', serif;	
	width:100%;
}



a{
	color: white;
	text-decoration: none;
	text-shadow:none;
}


a:hover{
	color:#223843;
}

a.navbar-brand:hover{
	color:#F0D879;
}
h3 a{
	color:#248888;
}

p{
	font-size: 18px;
}



#navbar{
	background-color: #248888;
	margin:0px;
  	font-family: 'Josefin Slab', serif;	
  	color:white;
  	padding-left:10px;
  	border-radius: 0px;

}

#navRow{
	position: sticky;
  	top: 0px; /* When the element reaches top: 10px, it becomes fixed. */
  	z-index: 100;
}

img.img-responsive{
	transition:0.3s;
	border-radius:10px;

}

img.img-responsive:hover{
	box-shadow: 5px 5px 5px #555555;
	
}


hr{
	border: 0.5px solid #E7475E;
}
.content-section{
	transition:0.3s;
	box-shadow: 5px 5px 5px #555555;
	color:black;
}
.content-section h2{
font-family: 'Josefin Sans', sans-serif;
}

.content-section:hover{
	background-color: white;
	box-shadow: 8px 8px 8px #0f0f0f;
}

#jumbo{
	height:400px;
	margin:0px;
	background-size: 100%;
	border-radius:0px;
	color: #ffffff;
	text-shadow: 1px 1px #000000;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	background-image: url("../images/forestSea.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center; 
    padding-top:100px;
}

#header-filter{
	height:100%;
	width:100%;
	margin:0;
	padding-top:100px;
	background-color: rgba(17,205,134, 0.3);
}

.tab { text-indent:40px 
}

.navbar-toggle{
	background-color: white;
}
.icon-bar{
	border:1px solid #223843;
}

#homeContainer{
	padding-bottom: 50px;
	
}

#footer{
	background-color: #9A9FB6;
	height:100px;
	border-top: 5px solid #E7475E;
	padding-top:20px;
	color:#ffffff;
	font-family: 'Josefin Slab', serif;	
	font-size: 20px;
	margin-top:10px;
}

#about-me{
	margin-bottom: 20px;
	margin-top:30px;
	padding-bottom:20px;
}


#contacts{
	margin-bottom:20px;
	padding:20px;
	padding-top:5px;
	margin-top:30px;
}

#contacts img{
	margin-bottom:10px;
}

#my-photo{
	height:150px;
	border: 4px double  #04384A;
	border-radius: 75px;
	box-shadow: 5px 5px 5px #555555;
	float:left;
	margin-right: 20px;
	margin-bottom: 5px;
}

#portfolioLabel{
	background-image: url("../images/plant.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    background-position: center; 
    height:300px;
	color:#ffffff;
	text-shadow: 2px 2px #000000;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 100px;
	border-radius:0px;
}

#contactLabel{

	background-image: url("../images/mailbox.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    background-position: center; 
    height:300px;
	color:#ffffff;
	text-shadow: 2px 2px #000000;
	padding-top: 200px;
	font-family: 'Josefin Sans', sans-serif;
	border-radius:0px;
}


.portfolio-frame{
		height: 200px; 
		color:black;
		font-family: 'Josefin Slab', serif;	
}

.portfolio-pic{
	height:75%;
	background-color:#D77A61;
	transition:0.2s;
	box-shadow: 2px 2px 2px #555555;
}

.portfolio-pic:hover{
	box-shadow: 5px 5px 5px #555555;
	
}

#profile-email{
	color:#248888;
}

#profile-email:hover{
	color:#223843;
}

#jobMatch{
	background-image: url("../images/job-search.png");
	background-position: center;
	background-size: 100% 100%;
}

#nytreact{
	background-image: url("../images/nytreact.png");
	background-position: center;
	background-size: 100% 100%;
}

#scrub-comment{
	background-image: url("../images/digg-scraper.png");
	background-position: center;
	background-size: 100% 100%;
}

#trivia{
	background-image: url("../images/trivia.png");
	background-position: center;
	background-size: 100% 100%;
}

#hangman{
	background-image: url("../images/hangman.png");
	background-position: center;
	background-size: 100% 100%;
}

#burger{
	background-image: url("../images/burger.png");
	background-position: center;
	background-size: 100% 100%;
}
#contact-well{
	font-family: 'Josefin Slab', serif;	
}

@media only screen and (max-width: 762px){

	.portfolio-pic{
	box-shadow: 5px 5px 5px #555555;
	
	}
	#contactLabel{
		padding-top:50px;
	}

	.content-section{
	background-color: white;
	box-shadow: 8px 8px 8px #0f0f0f;
	}

	img.img-thumbnail{
	box-shadow: 5px 5px 5px #555555;
	transition:0.3s;
	}

	#jumbo{
		background-position:;
		background-attachment:scroll;
		background-size:800px;
	}

}


