
body{
	background-color:#E6E6E6;
	font-family: 'Crimson Text', serif;
	width:100%;
}



a{
	color: white;
	text-decoration: none;
}


a:hover{
	color:#223843;
}

a.navbar-brand:hover{
	color:#F0D879;
}


p{
	font-size: 18px;
}



#navbar{
	background-color: #248888;
	margin:0px;
  	font-family: 'Libre Baskerville', serif;
  	color:white;
  	text-shadow: none;
  	padding-left:10px;
  	border-radius: 0px;

}

#navRow{
	position: sticky;
  	top: 0px; /* When the element reaches top: 10px, it becomes fixed. */
  	z-index: 100;
}

img.img-thumbnail{
	transition:0.3s;
}

img.img-thumbnail:hover{
	box-shadow: 5px 5px 5px #555555;
	
}


hr{
	border: 0.5px solid #E7475E;
}
.content-section{
	transition:0.3s;
	box-shadow: 5px 5px 5px #555555;
	color:black;
}

.content-section:hover{
	background-color: white;
	box-shadow: 8px 8px 8px #0f0f0f;
}

#jumbo{
	height:300px;
	padding:100px;
	margin:0px;
	border-radius:0px;
	color:#ffffff;
	text-shadow: 2px 2px #000000;
	font-family: 'Crimson Text', serif;
	background-image: url("../images/river.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}

.tab { text-indent:40px 
}

.navbar-toggle{
	background-color: white;
}
.icon-bar{
	border:1px solid #223843;
}

#homeContainer{
	padding-bottom: 100px;
	
}

#footer{
	background-color: #9A9FB6;
	height:100px;
	border-top: 5px solid #E7475E;
	padding-top:20px;
	color:#ffffff;
	font-family: 'Josefin Slab', serif;	
	font-size: 20px;
	margin-top:10px;
}

#about-me{
	margin-bottom: 20px;
	margin-top:30px;
}


#contacts{
	
	margin-bottom:20px;
	padding:20px;
	margin-top:30px;

}

#my-photo{
	height:200px;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#portfolioLabel{
	background-image: url("../images/forestSea.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center; 
    height:300px;
	color:#ffffff;
	text-shadow: 2px 2px #000000;
	font-family: 'Crimson Text', serif;
	padding-top: 100px;
	border-radius:0px;
}


.portfolio-frame{
		height: 200px; 
		color:black;
		font-family: 'Josefin Slab', serif;	
}

.portfolio-pic{
	height:75%;
	background-color:#D77A61;
	transition:0.2s;
	box-shadow: 2px 2px 2px #555555;
}

.portfolio-pic:hover{
	box-shadow: 5px 5px 5px #555555;
	
}

#jobMatch{
	background-image: url("../images/job-search.png");
	background-position: center;
	background-size:contain;
}

#nytreact{
	background-image: url("../images/nytreact.png");
	background-position: center;
	background-size:contain;
}

#scrub-comment{
	background-image: url("../images/digg-scraper.png");
	background-position: center;
	background-size:contain;
}

#trivia{
	background-image: url("../images/trivia.png");
	background-position: center;
	background-size:contain;
}

#hangman{
	background-image: url("../images/hangman.png");
	background-position: center;
	background-size:contain;
}

#burger{
	background-image: url("../images/burger.png");
	background-position: center;
	background-size:contain;
}

@media only screen and (max-width: 762px){

	.portfolio-pic{
	box-shadow: 5px 5px 5px #555555;
	
	}

	.content-section{
	background-color: white;
	box-shadow: 8px 8px 8px #0f0f0f;
	}

	img.img-thumbnail{
	box-shadow: 5px 5px 5px #555555;
	transition:0.3s;
	}

}


